<?xml version="1.0"?>
<!--
/**
 * @author Bartosz Kubicki <b.w.kubicki@gmail.com>
 * Github https://github.com/bartoszkubicki
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Console command section -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="load:config:global"
                      xsi:type="object">BKubicki\CustomAppAreaPlayground\Console\Command\LoadConfigInGlobalArea</item>
                <item name="load:config:custom"
                      xsi:type="object">BKubicki\CustomAppAreaPlayground\Console\Command\LoadConfigInCustomArea</item>
            </argument>
        </arguments>
    </type>
    <!-- End of console command section -->

    <!-- Constructor arguments injection section -->
    <type name="Magento\Framework\App\AreaList">
        <arguments>
            <argument name="areas" xsi:type="array">
                <!--<item name="custom_area" xsi:type="null"/>-->
                <item name="custom_area" xsi:type="array">
                    <item name="frontName" xsi:type="string">customarea</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- End of constructor arguments injection section -->

</config>