<?xml version="1.0"?>
<!--
/**
 * @author Bartosz Kubicki <b.w.kubicki@gmail.com>
 * Github https://github.com/bartoszkubicki
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Plugin section -->
    <type name="BKubicki\CustomAppAreaPlayground\Model\Example">
        <plugin name="BKubicki_CustomAppAreaPlayground::modifyMessage"
                type="BKubicki\CustomAppAreaPlayground\Plugin\Model\Example"
                sortOrder="10"
        />
    </type>
    <!-- End of plugin section -->

    <!-- API section -->
    <preference for="Magento\Framework\App\FrontControllerInterface"
                type="BKubicki\CustomAppAreaPlayground\Controller\CustomFrontController" />
    <!-- End of API section -->
</config>